# requirements.txt
# Core API
fastapi==0.116.1
uvicorn==0.35.0
pydantic==2.11.7

# Metrics / monitoring
prometheus_client==0.23.1

# ML / data
torch==2.7.1
pandas==2.3.1
numpy==2.2.6
pyarrow==20.0.0
mlflow==3.1.1

# HTTP / misc
requests==2.32.4
PyYAML==6.0.3
python-dateutil==2.9.0.post0
httpx==0.28.1

# (optional) tests – safe for CI
pytest==8.4.1
