apiVersion: v1
kind: ConfigMap
metadata:
  name: aerocast-grafana-datasources
  namespace: {{ .Values.namespace }}
data:
  prometheus.yml: |
    apiVersion: 1
    datasources:
      - name: Prometheus
        type: prometheus
        access: proxy
        url: http://prometheus.{{ .Values.namespace }}.svc.cluster.local:9090
        isDefault: true
